<blockquote class="quote">
    <p class="open__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolorem, quam ducimus ratione aut, veritatis saepe eum sunt reprehenderit nihil quidem optio voluptatum adipisci dicta commodi blanditiis, nemo in. Rem!

    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <span class="quote__line"><i class="fa fa-minus fa-2x"></i></span>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__auther">jhon smith</h3>
                <p class="quote__organization">ABC company</p>
            </div>
        </div>
    </footer>
</blockquote>