<section class="block">
    <header class="block__header">
        <h2>what our customers are saying</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, impedit!</p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--col-2">
                <div class="testimonial__image">
                    <img src="image/pic1.jpg" alt="A happy, smilling face">
        
                    <span class="icon-container icon-container--accent">
                    <svg class="icon icon--white icon--small ">
                        <use xlink:href="image/sprite.svg#quotes"></use>
                    </svg>
                </span>
                </div>
                <blockquote class="quote">
                    <p class="open__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolorem, quam ducimus ratione aut, veritatis saepe eum sunt reprehenderit nihil quidem optio voluptatum adipisci dicta commodi blanditiis, nemo in. Rem!
                
                    </p>
                    <footer>
                        <div class="media">
                            <div class="media__image">
                                <span class="quote__line"><i class="fa fa-minus fa-2x"></i></span>
                            </div>
                            <div class="media__body">
                                <h3 class="media__title quote__auther">jhon smith</h3>
                                <p class="quote__organization">ABC company</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>